@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;700&display=swap');

*{
margin: 0;
padding: 0;
}

.section-1{
background-color: #d9b03f;
height: 100vh;
width: 100%;

}

.content-box{
    width: 75vw;
    margin-left: 12.5vw;
    padding-top: 5vw;
    display: flex;
}

.textbox{
    width: 35.45vw;
    margin-top: 2vh;
}

h1{
    font-weight: 700;
    line-height: 1.2rem;
    font-size: 3rem;
    font-family: 'Rubik', sans-serif;
}

p{
    margin-top: 2vw;
    line-height: 1.4rem;
    font-weight: 300;
    font-size: 1.05rem;
    font-family: 'Rubik', sans-serif;
}

h4{
    margin-top: 2vw ;
    font-weight: 700;
    line-height: 1.2rem;
    font-family: 'Rubik', sans-serif;
}


.box-image{
    width: 36.7vw;
    height: 70vh;
    background-color: #f86848;
    margin-left: 2.85vw;
}

.section-2{
    height: 180vh;
    width: 100%;
}

.box-image-2{
    width: 36.7vw;
    height: 70vh;
    background-color: #f86848;
    margin-right: 2.85vw;
}


.section-3{
background-color: #d9b03f;
width: 100%;
height: 180vh;
}


.section-4{
    height: 100vh;
    width: 100%;
}

.section-5{
    background-color: #d9b03f;
    width: 100%;
    height: 180vh;
}

.section-6{
  height: 200px;
}


footer{
    height: 30vh;
    background-color: pink ;
}




